<div class="container">
  <br><br>
  <div class="row">
    <div class="col-sm-3">

      <%= link_to "Добавить категорию", new_category_path, class: "btn btn-warning--reverse-transition" %>
      <hr class="divider">
      <%= render 'categories/form' %>
      <hr class="divider">

      <table class="table table-hover">
        <tbody>
        <tr>
          <td>Всего товаров в базе</td>
          <td class="right"><%= @products_all.count %></td></td>
        </tr>
        <tr>
          <td>Всего категорий</td>
          <td class="right"><%= @categories.count %></td></td>
        </tr>

        <% @categories.each_with_index do |category, index| %>
          <tr>
            <td><%= index + 1 %>. Кол-во: <%= category.name %></td>
            <td class="right"><%= category.products.count %></td>
          </tr>
        <% end %>

        </tbody>
      </table>

      <hr class="divider">

      <!-- Opening Times Widget -->
      <div class="sidebar-item  opening-time  light-paper-pattern">
        <h3 class="opening-time__title">Режим работы</h3>
        <hr class="divider-dark">
        <div class="time-table  js--timetable">
          <dl class="week-day" data-day="1">
            <dt>
              Понедел.
            </dt>
            <dd>
              <%= best_in_place @operation, :monday, :inner_class => 'form-control  form-control--contact', :type => :input %>
            </dd>
          </dl>
          <dl class="week-day" data-day="2">
            <dt>
              Вторник
            </dt>
            <dd>
              <%= best_in_place @operation, :tuesday, :inner_class => 'form-control  form-control--contact', :type => :input %>
            </dd>
          </dl>
          <dl class="week-day" data-day="3">
            <dt>
              Среда
            </dt>
            <dd>
              <%= best_in_place @operation, :wednesday, :inner_class => 'form-control  form-control--contact', :type => :input %>
            </dd>
          </dl>
          <dl class="week-day" data-day="4">
            <dt>
              Четверг
            </dt>
            <dd>
              <%= best_in_place @operation, :thursday, :inner_class => 'form-control  form-control--contact', :type => :input %>
            </dd>
          </dl>
          <dl class="week-day" data-day="5">
            <dt>
              Пятница
            </dt>
            <dd>
              <%= best_in_place @operation, :friday, :inner_class => 'form-control  form-control--contact', :type => :input %>
            </dd>
          </dl>
          <dl class="week-day" data-day="6">
            <dt>
              Суббота
            </dt>
            <dd>
              <%= best_in_place @operation, :saturday, :inner_class => 'form-control  form-control--contact', :type => :input %>
            </dd>
          </dl>
          <dl class="week-day  closed" data-day="0">
            <dt>
              Воскрес.
            </dt>
            <dd>
              <%= best_in_place @operation, :sunday, :inner_class => 'form-control  form-control--contact', :type => :input %>
            </dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-2">
          <%= link_to "Добавить продукт", new_product_path, class: "btn btn-warning--reverse-transition" %>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
          <%= link_to "ДД", new_operation_path, class: "btn btn-info--transition" %>
        </div>
        <div class="col-sm-2">
          <%= link_to "Статьи", articles_path, class: "btn btn-info--transition" %>
        </div>
        <div class="col-sm-2">
          <%= link_to "Видео", videos_path, class: "btn btn-info--transition" %>
        </div>
      </div>

      <hr class="divider">
      <table class="table table-theme table-striped">
        <thead>
        <tr>
          <th>Фото</th>
          <th>Наименование</th>
          <th>Цена</th>
          <th>Описание</th>
          <th>Категория</th>
          <th>Действие</th>
        </tr>
        </thead>
        <tbody>

        <% @products.each do |product| %>
          <tr class="active">
            <td><%= image_tag product.image.url(:mini) %></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td>
              <div style="height:150px;overflow:auto;">
                <%= product.description %>
              </div>
            </td>
            <td>
              <% product.categories.each do |category| %>
                  <%= category.name %> <br>
              <% end %>
            </td>
            <td>
              <%= link_to 'Редакт.', edit_product_path(product, session[:npage]=params[:page]) %>
              <%= link_to 'Удалить', product_path(product), method: :delete, data: { confirm: 'Вы действительно хотите удалить запись?' } %>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>


      <hr class="divider">
      <div class="shop__pagination">
        <ul class="pagination">

          <%= paginate @products %>

        </ul>
      </div>
    </div>
  </div>
</div>