<div class="container" xmlns="http://www.w3.org/1999/html">
  <br><br>
  <div class="row">
    <div class="col-sm-3">

      <%= link_to "Добавить категорию", new_category_path, class: "btn btn-warning--reverse-transition" %>
      <hr class="divider">
      <%= render 'categories/form' %>
      <hr class="divider">

      <table class="table table-hover">
        <tbody>
        <tr>
          <td>Всего товаров в базе</td>
          <td class="right">104</td>
        </tr>
        <tr>
          <td>Всего категорий</td>
          <td class="right">7</td>
        </tr>

        <% @categories.each_with_index do |category, index| %>
          <tr>
            <td><%= index + 1 %>. Кол-во: <%= category.name %></td>
            <td class="right"><%= category.products.count %></td>
          </tr>
        <% end %>

        </tbody>
      </table>

      <hr class="divider">

    </div>
    <div class="col-sm-9">
      <%= link_to "Добавить продукт", new_product_path, class: "btn btn-warning--reverse-transition" %>
      <hr class="divider">
      <table class="table table-theme table-striped">
        <thead>
        <tr>
          <th>Фото</th>
          <th>Наименование</th>
          <th>Цена</th>
          <th>Описание</th>
          <th>Категория</th>
          <th>Действие</th>
        </tr>
        </thead>
        <tbody>

        <% @products.each do |product| %>
          <tr class="active">
            <td><%= image_tag product.image.url(:mini) %></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td>
              <div style="height:150px;overflow:auto;">
                <%= product.description %>
              </div>
            </td>
            <td>
              <% product.categories.each do |category| %>
                  <%= category.name %> <br>
              <% end %>
            </td>
            <td>
              <%= link_to 'Редакт.', edit_product_path(product) %>
              <%= link_to 'Удалить', product_path(product), method: :delete, data: { confirm: 'Вы действительно хотите удалить запись?' } %>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>


      <hr class="divider">
      <div class="shop__pagination">
        <ul class="pagination">

          <%= paginate @products %>



          <!--<li><a class="pagination--nav" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>-->
          <!--<li><a href="#">1</a></li>-->
          <!--<li><a class="active" href="#">2</a></li>-->
          <!--<li><a href="#">3</a></li>-->
          <!--<li><a href="#">4</a></li>-->
          <!--<li><a href="#">5</a></li>-->
          <!--<li><a class="pagination--nav" href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>