<div class="container">
  <h1 class="center"><span class="light">Добавить</span> товар</h1>
  <hr class="divider">
  <div class="row">
    <%= form_for @product, :html => {:multipart => true} do |f| %>
      <div class="col-xs-12 col-sm-4">
        <%= f.label 'Название товара'%> <br>
        <%= f.text_field :name, class: 'form-control  form-control--contact' %> <br>
        <%= f.label :Цена %> <br>
        <%= f.text_field :price, class: 'form-control  form-control--contact' %> <br>
        <%= f.check_box :cb_old_price, class: 'check_box' %>
        <%= f.label :Старая_цена %> <br>
        <%= f.text_field :old_price, class: 'form-control  form-control--contact' %> <br>
        <%= f.label :Описание %> <br>
        <%= f.text_area :description, class: 'form-control  form-control--contact  form-control--big', rows: 10 %> <br>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.label :Категории %> <br>
        <hr>
        <%= f.collection_check_boxes :category_ids, Category.all.order(:id), :id, :name do |b| %>
          <div class="row">
            <div class="col-xs-1">
              <%= b.check_box(class: "check_box") %>
            </div>
            <div class="col-xs-10">
              <%= b.object.name %>
            </div>
          </div>
          <% if (b.object.id == 4) %>
            <hr>
          <% end %>
        <% end %>
        <hr>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= f.label :Фото %> <br>
        <hr>
        <%= f.file_field :image %>
        <hr class="title__divider">
        <%= f.submit "Добавить товар", class: "btn btn-primary--reverse-transition" %>
        <%= link_to 'Назад', products_path, class: "btn btn-info--transition" %><br>
      </div>
    <% end %>
  </div>
  <hr class="divider">
</div>