
<!-- Google fonts -->
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Arvo:700:latin', 'Open+Sans:400,600,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>


<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <ol class="breadcrumb">
            <li><%= link_to "Главная", root_path %></li>
            <li class="active">Продукция</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Big banner -->
  <div class="row">
    <div class="col-xs-12">
      <div class="push-down-30">
        <div class="banners--big">
          Мы - официальные дилеры компании "Звенящие кедры России" в<strong> Липецке и Липецкой области.</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12  col-sm-2">
      <aside class="sidebar  sidebar--shop">
        <h3 class="sidebar__title"><span class="light"></span> Продукция</h3>
        <hr class="shop__divider">
        <div class="shop-filter">
          <h5 class="sidebar__subtitle">Категории</h5>
          <ul class="nav  nav--filter">
            <li><%= link_to "Все" %></li>
            <% @categories.each do |category| %>
              <li><%= link_to category.name, :cat => category.id %></li>
            <% end %>
          </ul>
          <hr class="divider">
        </div>
      </aside>
    </div>

    <div class="col-xs-12  col-sm-1"></div>

    <div class="col-xs-12  col-sm-9">
      <div class="grid">
        <hr class="shop__divider">
        <div class="row  js--isotope-container">
          <% @products.each_with_index do |product, index| %>
            <% if (index % 2 == 0) %>
              <div class="clearfix  visible-xs"></div>
              <% if (index % 4 == 0) %>
                <div class="clearfix  hidden-xs"></div>
              <% end %>
            <% end %>
            <div class="col-xs-6 col-sm-3  js--isotope-target  js--cat-5">
              <div class="products__single">
                <figure class="products__image">
                  <%= image_tag product.image.url(:large), size: "190x190", alt: "#", class: "product__image" %>
                  <div class="product-overlay">
                    <%= link_to product, class: "product-overlay__more" do %>
                      <span class="glyphicon glyphicon-search"></span>
                    <% end %>
                  </div>
                </figure>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="products__price">
                      <% if product.price.nil?%>
                        <%= link_to "Заказать", order_path(:order_name => product.name) %>
                      <% else %>
                        <%= product.price %> р.
                      <% end %>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <h5 class="products__title">
                      <%= link_to product, class: "products__link  js--isotope-title" do %>
                        <%= product.name %>
                      <% end %>
                    </h5>
                  </div>
                </div>
                <div class="products__category">
                  <% product.categories.each do |category| %>
                    <% if (category.id > 4) %>
                      <%= category.name %> &nbsp
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

        </div>

        <hr class="shop__divider">
        <div class="shop__pagination">
          <ul class="pagination">

            <%= paginate @products %>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="search-mode__overlay"></div>


<script type="text/javascript">
  function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "assets/main.js";
    document.body.appendChild(element);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>
