
  <!-- Google fonts -->
  <script type="text/javascript">
      WebFontConfig = {
          google: { families: [ 'Arvo:700:latin', 'Open+Sans:400,600,700:latin' ] }
      };
      (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
      })();
  </script>

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav>
          <ol class="breadcrumb">

            <li><%= link_to "Главная", root_path %></li>

            <li><%= link_to "Продукция", shop_path %></li>

            <li class="active">Выбранный товар</li>

          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="push-down-30">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="product-preview">
          <div class="push-down-20">
            <%= image_tag @product.image.url(:large), size: "360x360", alt: "Выбранный товар", class: "js--product-preview" %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="products__content">
          <div class="push-down-30"></div>
          <span class="products__category">
            <% @product.categories.each do |category| %>
              <% if (category.id > 4) %>
                <%= category.name %> &nbsp
              <% end %>
            <% end %>
          </span>
          <h1 class="single-product__title"><%= @product.name %></h1>
          <span class="single-product__price"><%= @product.price %> р.</span>
          <hr class="bold__divider">
          <p class="single-product__text">
            <%= @product.description %>
          </p>
          <hr class="bold__divider">
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div class="push-down-30">
    <div class="products-navigation">
      <div class="products-navigation__title">
        <h3><span class="light">Похожие</span> товары</h3>
      </div>
    </div>
  </div>

  <!-- Products -->
  <div class="push-down-30">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-xs-6 col-sm-3  js--isotope-target  js--cat-6">
          <div class="products__single">
            <figure class="products__image">
              <%= image_tag product.image.url(:large), size: "260x260", alt: "#", class: "product__image" %>
              <div class="product-overlay">
                <%= link_to product, class: "product-overlay__more" do %>
                  <span class="glyphicon glyphicon-search"></span>
                <% end %>
              </div>
            </figure>
            <div class="row">
              <div class="col-xs-8">
                <h5 class="products__title">
                  <%= link_to product, class: "products__link  js--isotope-title" do %>
                    <%= product.name %>
                  <% end %>
                </h5>
              </div>
              <div class="col-xs-4">
                <div class="products__price">
                  <%= product.price %> р.
                </div>
              </div>
            </div>
            <div class="products__category">
              <% product.categories.each do |category| %>
                <% if (category.id > 4) %>
                  <%= category.name %> &nbsp
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "js/main.js";
        document.body.appendChild(element);
    }
    if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
</script>
