<footer class="js--page-footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-xs-12  col-sm-3">
          <div class="footer-widgets__social">
            <img class="push-down-10" alt="Footer Logo" src="/assets/logo_mini.png">
            <p class="push-down-15" align="justify">
              Вся кедровая продукция изготавливается по старинным технологиям! Кедровое масло отжимается таёжным способом на ручном деревянном прессе из кедра! Сбор живицы производится в районах Сибирской тайги! Термической обработке не подвергается! Очищается вручную!
            </p>

            <a class="social-container" href="http://www.facebook.com/pages/Megre-LLC/148501691860639"><span class="zocial-facebook"></span></a>
            <a class="social-container" href="http://twitter.com/megreru"><span class="zocial-twitter"></span></a>
            <a class="social-container" href="http://vk.com/id147567881"><span class="zocial-vk"></span></a>
            <a class="social-container" href="http://www.youtube.com/user/vmegrecom/"><span class="zocial-youtube"></span></a>
          </div>
        </div>
        <div class="col-xs-12  col-sm-3">
          <nav class="footer-widgets__navigation">
            <div class="footer-wdgets__heading--line">
              <h4 class="footer-widgets__heading">Навигация</h4>
            </div>
            <ul class="nav nav-footer">
              <li><%= link_to "Главная", root_path %></li>
              <li><%= link_to "О компании", about_path %></li>
              <li><%= link_to "Производство", prod_path %></li>
              <li><%= link_to "Продукция", shop_path %></li>
              <li><%= link_to "Контакты", contact_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to "Админка", products_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12  col-sm-3">
          <div class="footer-widgets__navigation">
            <div class="footer-wdgets__heading--line">
              <h4 class="footer-widgets__heading">Популярные тэги</h4>
            </div>
            <% if controller_name != 'sessions' && controller_name != 'registrations' %>
              <%= render :partial => "categories/cat" %>
            <% end %>


          </div>
        </div>
        <div class="col-xs-12  col-sm-3">
          <div class="footer-widgets__navigation">
            <div class="footer-wdgets__heading--line">
              <h4 class="footer-widgets__heading">Контакты</h4>
            </div>
            <a class="footer__link" href="#">Официальный представитель ООО "Звенящие Кедры"</a><br>
            г. Липецк, ул. Космонавтов, д.98 <br>
            Советский район, 9-й микрорайон <br>
            ТЦ «Ноябрьский», 1 этаж (налево) <br>
            <%= link_to "Посмотреть на карте ", contact_path, class: "footer__link--small" %><span class="glyphicon glyphicon-chevron-right glyphicon--footer-small"></span><br><br>
            <a class="footer__link" href="#"><span class="glyphicon glyphicon-earphone glyphicon--footer"></span> +7 (905) 684-52-57 </a><br>
            <a class="footer__link" href="#"><span class="glyphicon glyphicon-envelope glyphicon--footer"></span> lipetsk@megre.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12  col-sm-7">
          <div class="footer__text--link">
            <a class="footer__link" href="#">Звенящие Кедры</a> © Copyright 2015. Официальный представитель в <a class="footer__link" href="#" target="_blank">Липецке</a>.
          </div>
        </div>
        <div class="col-xs-12  col-sm-5">
          <div class="footer__text">
            Made with <span class="glyphicon  glyphicon-heart"></span> by <a class="footer__link" href="http://www.initweb.ru/" target="_blank">INITweb</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>