<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter29453530 = new Ya.Metrika({id:29453530,
          webvisor:true,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true});
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/29453530" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61476984-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="top  js--fixed-header-offset">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-sm-6">
        <div class="top__slogan">
          Сделано с <img alt="Logo" src="/assets/heart.png" > из Сибирского кедра и других природных компонентов
        </div>
      </div>

      <div class="col-xs-12  col-sm-6">
        <div class="top__menu">
          <ul class="nav  nav-pills">
            <li>
              <a href="#registerModal" role="button" data-toggle="modal">
                <%= remote_city %>
              </a>
            </li>
            <% unless user_signed_in? %>
              <li class="dropdown  js--mobile-dropdown">
                <%= link_to "Login", new_user_session_path %>
              </li>
            <% else %>
              <li class="dropdown  js--mobile-dropdown">
                <a class="dropdown-toggle" href="#">
                  <%= current_user.username %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Выход', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-10  col-md-6">
        <div class="header-logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </div>
      </div>
      <div class="col-xs-2  visible-sm  visible-xs">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle  collapsed" data-toggle="collapse" data-target="#collapsible-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
      <div class="col-xs-12  col-md-6">
        <nav class="navbar  navbar-default" role="navigation">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse  navbar-collapse" id="collapsible-navbar">
            <ul class="nav  navbar-nav">
              <li class="dropdown">
                <%= link_to "Главная", root_path %>
              </li>
              <li class="dropdown">
                <%= link_to class: "dropdown-toggle" do %>О компании<b class="caret"></b><% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to "О компании", about_path %></li>
                  <li><%= link_to "Производство", prod_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <%= link_to "Продукция", shop_path %>
              </li>
              <li class="dropdown">
                <%= link_to class: "dropdown-toggle" do %>Статьи<b class="caret"></b><% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to "Статьи", main_articles_path %></li>
                  <li><%= link_to "Видео", main_videos_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <%= link_to "Контакты", contact_path %>
              </li>
            </ul>
            <!-- search for mobile devices -->
            <form action="#" method="post" class="visible-xs  visible-sm  mobile-navbar-form" role="form">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-addon">
          <button type="submit" class="mobile-navbar-form__appended-btn"><span class="glyphicon  glyphicon-search  glyphicon-search--nav"></span></button>
        </span>
              </div>
            </form>
            <div class="mobile-cart  visible-xs  visible-sm  push-down-15">
              <span class="header-cart__text--price"><span class="header-cart__text">CART</span> $49.35</span>
              <a href="cart.html" class="header-cart__items">
                <span class="header-cart__items-num">3</span>
              </a>
            </div>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</header>